* {
	text-decoration: none;
	color: #f0f1fa;
	font-family: 'Palanquin Dark', sans-serif;
}
.menuBarContainer{
	display: flex;
	flex-direction: row;
	background-color: #1f1c23;
	align-items: center;
	justify-content: space-between;
	height: 70px;
	width: 100%;
}
.navContainer{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}
.menuHamb{
	background-color: transparent;
	font-size: 25px;
	cursor: pointer;
	display: none;
	margin: 0 20px;
}
.btnName {
	white-space: nowrap;
	font-size: 20px;
	margin: 0 20px;
	font-weight: 700;
	line-height: 1.5;
	span {
		color: #ffc83d;
	}
}
.btnNav {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 56px;
	flex: 1 1;
	justify-content: center;
	padding: 20px;
	li {
		position: relative;
		&:hover {
			&::after {
				width: 100%;
			}
		}
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 2px;
			border-radius: 1px;
			width: 0;
			background-color: #ffc83d;
			transition: width 0.2s ease;
		}
	}
}
.menuPort {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
	button{
		background-color: transparent;
		font-size: 16px;
		cursor: pointer;
	}
	.dropdown-menu {
		display: none;
		flex-direction: column;
		white-space: nowrap;
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		height: 60px;
		background-color: #1f1c23;
		padding: 10px;
		border-radius: 8px;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	}
	.dropAberto {
		display: flex;
		& > a {
			&:active {
				position: relative;
				top: 1px;
			}
		}
	}
}

.fa-caret-down {
	transition: transform 0.3s ease;
}
  
.A .fa-caret-down {
	transform: rotate(180deg);
}
  
.menuPort:not(.A) .fa-caret-down {
	transform: rotate(0deg);
}
  
.btnRedes {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 15px;
	padding: 20px;
	a {
		font-size: 20px;
		transition: transform 0.1s ease;
		&:hover {
			transform: translateY(-5px);
		}
	}
}

@media (max-width: 900px) {
	.menuHamb{
		display: block;
		z-index: 201;
	}
	.navContainer{
		z-index: 200;
		position:fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: #1f1c23;
		flex-direction: column;

		align-items: center;

		clip-path: circle(100px at 90% -15%);
		transition: 1s ease;
		pointer-events: none;
		.btnNav{
			flex-direction: column;
		}
	}
	.navContainer.active{
		clip-path: circle(1500px at 90% -15%);
		pointer-events: all;
	}
}