.secao{
    background-color: #1f1c23;
    width: 900px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 0 20px;
    .titulo{
        cursor:pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .fa-solid{
    font-size: 20px;
    margin-left: 5px;
    color: #ffc83d;
    }
}
  
.conteudoSecao {
    background-color: #1f1c23;
    max-height:0;
    width: 900px;
    overflow: hidden;
    transition: max-height 0.4s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      padding: 15px;
      font-weight: lighter;
      line-height: 1.5;
      overflow-y: auto;
    }
    hr{
        background-color: rgba(240, 248, 255, 0.1);
        width: 100%;
        height: 1px;
    }
}

.conteudoSecao.contentVisivel {
    max-height: 1500px;
}
  
.fa-circle-chevron-down {
    transition: transform 0.2s ease;
}
.fa-circle-chevron-down:not(.titleVisivel) {
    transform: rotate(0deg);
}
.titleVisivel .fa-circle-chevron-down {
    transform: rotate(180deg);
}

@media (max-width: 900px) {
    .secao{
        width: 300px;
    }
    .conteudoSecao{
        p{
            a>img{
                width: 300px;
            }
            span{
                color: #ffc83d;
            }
        }
        width: 300px;
    }
    
}